.font-NovaSquare {
    font-family: 'Nova Square', cursive;
}
.logo-custom {
    height: 100px;
}
body {
    background-color: #ececec;
}
h1 {
    color: var(--main-color);
    font-family: 'Nova Square', cursive;
    font-size: 65px;
    font-weight: 550;
}

@media screen and (max-width: 600px){
    h1 {
        color: var(--main-color);
        font-family: 'Nova Square', cursive;
        font-size: 30px;
    }
}

h2 {
    font-family: 'Nova Square', cursive;
}
p , a {
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px; 

}
:root {
    --main-color: #8b0203;

    --sec-color:  #6c757e;

    --third-color:#ececec;  
}
.img-fluid {
    zoom: 40%;
}
.nav-custom {
    background-color: var(--third-color);
    width: 100%;
    transition: 0.2s;
}
@media screen and (max-height 100px) {
  .sticky-top {
    position: sticky;
    top: 100px;
    background-color: var(--third-color) , transparent 50%;
  }
}

.nav-custom .nav-link {
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    color: var(--sec-color)!important;
    
}
.nav-custom .nav-link:hover {
    text-decoration: underline solid 2px var(--main-color);

}
.text-right {
    text-align: right;
}
.masthead {
    height: 100vh;
    min-height: 500px;
    background:linear-gradient(to top ,transparent 10% ,#ececec 100%,#ececec 100%) , url(./img/switzerland-862870_1920.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mountain-zoom {
    zoom: 140%;
}

.bg-third-color {
     background-color: var(--third-color);
}
.bg-main-color {
    background-color: var(--main-color);
}

.main-color {
    color: var(--main-color);
}
.sec-color {
    color: var(--sec-color);
}
.button-custom{
    background-color: var(--main-color);
    border-radius: 0%;
    font-family: 'Rajdhani', sans-serif;
    font-size: 25px;
    width: 250px; 
    border-color: var(--sec-color);
    border: solid 5px var(--sec-color);
}
.button-custom:hover {
    background-color: #6c757e;
    zoom: 120%;
    border: solid 5px var(--main-color);
    color: #8b0203;
}
.btn:focus {
    outline: none;
    box-shadow: none;
    color: none;
}


.bg-forest-white {
    background-image: url(./img/trees2.png);
    zoom: 140%;
    position: relative;
}
.text-align-right {
    text-align: right;
}


.paragraph-around {
    justify-content: space-around;
}
@media screen and (max-width: 700px){
    .paragraph-around{
        justify-content: center;
        text-align: center;
    }
    .text-align-right {
        text-align: center;
    }
}

.masthead-trees {
    height: 30vh;
    min-height: 500px;
    background-color: var(--third-color);
    background-image: url(./img/trees2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.png-timeline {
    height: 80vh;
    min-height: 500px;
    background-color: white;
    background-image: url(./img/single.png);
    background-position: 90% 100%;
    background-size: 600px;
    background-repeat: no-repeat;
    height:100%; 
}
/* MEh  */
.container-team {
    height: 100vh;
    min-height: 500px;
    background-color: #ececec;
}

.bg-circle {
    background-color: white;
    color: #8b0203;
    border-radius: 100%;
    z-index: 1;
}


.circle-around {
    left: 153px;
    top: 95px;
}


ul.timeline {
    list-style-type: none;
    position: relative;
    
}
ul.timeline::before {
    content: ' ';
    background: var(--third-color);
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 3px;
    height: 100%;
    z-index: 400;
    background-color: #8b0203;
}
ul.timeline li {
    margin: 20px 0;
    padding-left: 20px;
    color: var(--sec-color);
}
ul.timeline li::before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid var(--main-color);
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.card-team {
      background-color: #ececec;
      
}
.card-team-body {
      background-color: #ececec;
      border: transparent;
      
}
.card-size {
    height: 200px;
    width: 200px;
    border:4px solid var(--main-color );
    border-radius: 70%;
    padding: 5%;
}
.img-team:hover {
  zoom:110%;
  padding: 0%;
}

.img-benefit {
    height:300px;
    width: 300px;
    border-radius: 100%;
    padding: 1%;
    border:4px solid var(--main-color );
    background-color: var(--third-color) ;
}
.footer {
    height: 100vh;
    min-height: 500px;
    background-image: url(./img/bigfoot.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    zoom: 60%;
  }
.footer-text{
    color: var(--third-color);
}

.modal-custom {
    border-radius: 10% 10% 10% 10%;
    height: 400px;
    width: 300px;
    border: #8b0203 10px solid;
    background-color: var(--third-color);
}
.btn-close {
  background-image:url(./img/x.png);
  background-size: cover;
}
  
.sign {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-image: radial-gradient(
      ellipse 50% 35% at 50% 50%,
      #6b1839,
      transparent);
    transform: translate(-50%, -50%);
    letter-spacing: 2;

    font-family: 'Nova Square', cursive;
    text-transform: uppercase;
    font-size: 6em;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem var(--main-color), 0 0.5rem 3rem var(--main-color);
    animation: shine 2s forwards, flicker 3s infinite;
}


@media screen and (max-width: 700px){
    .sign {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 50%;
        background-image: radial-gradient(
          ellipse 50% 35% at 50% 50%,
          #6b1839,
          transparent);
        transform: translate(-50%, -50%);
        letter-spacing: 2;
    
        font-family: 'Nova Square', cursive;
        text-transform: uppercase;
        font-size: 5em;
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
          -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
          0 -0.5rem 2rem var(--main-color), 0 0.5rem 3rem var(--main-color);
        animation: shine 2s forwards, flicker 3s infinite;
    }

        
} 
  
  @keyframes blink {
    0%,
    22%,
    36%,
    75% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem var(--main-color), 0 0.5rem 3rem var(--main-color);
    }
    28%,
    33% {
      color: #ff65bd;
      text-shadow: none;
    }
    82%,
    97% {
      color: var(--main-color);
      text-shadow: none;
    }
  }
  
  .flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
  }
  
  .fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
  }
  
  @keyframes shine {
    0% {
      color: #6b1839;
      text-shadow: none;
    }
    100% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem var(--main-color), 0 0.5rem 3rem var(--main-color);
    }
  }
  
  @keyframes flicker {
    from {
      opacity: 1;
    }
  
    4% {
      opacity: 0.9;
    }
  
    6% {
      opacity: 0.85;
    }
  
    8% {
      opacity: 0.95;
    }
  
    10% {
      opacity: 0.9;
    }
  
    11% {
      opacity: 0.922;
    }
  
    12% {
      opacity: 0.9;
    }
  
    14% {
      opacity: 0.95;
    }
  
    16% {
      opacity: 0.98;
    }
  
    17% {
      opacity: 0.9;
    }
  
    19% {
      opacity: 0.93;
    }
  
    20% {
      opacity: 0.99;
    }
  
    24% {
      opacity: 1;
    }
  
    26% {
      opacity: 0.94;
    }
  
    28% {
      opacity: 0.98;
    }
  
    37% {
      opacity: 0.93;
    }
  
    38% {
      opacity: 0.5;
    }
  
    39% {
      opacity: 0.96;
    }
  
    42% {
      opacity: 1;
    }
  
    44% {
      opacity: 0.97;
    }
  
    46% {
      opacity: 0.94;
    }
  
    56% {
      opacity: 0.9;
    }
  
    58% {
      opacity: 0.9;
    }
  
    60% {
      opacity: 0.99;
    }
  
    68% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.9;
    }
  
    72% {
      opacity: 0.95;
    }
  
    93% {
      opacity: 0.93;
    }
  
    95% {
      opacity: 0.95;
    }
  
    97% {
      opacity: 0.93;
    }
  
    to {
      opacity: 1;
    }
  }
  